@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6,
  .prose a,
  .prose strong,
  .prose li,
  .prose blockquote,
  .prose code,
  .prose table thead tr th,
  .prose table tbody tr td strong {
    @apply dark:text-slate-300;
  }
}
